@use 'variables';

.tabs {
    padding: 0 calc(3.5vw + 24px);

    &__nav {
        margin-bottom: 10px;
        
        @media (max-width: 768px) {
            white-space: nowrap;
            overflow-x: scroll;
        }

        &__button {
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 2px;
            line-height: 1.4;
            color: variables.$gray;
            text-decoration: none;
            text-transform: uppercase;
            background: none;
            border: none;
            border-bottom: 4px solid transparent;
            padding-bottom: 15px;
            cursor: pointer;
            margin: 1vw 40px 0 0;

            @media (max-width: 768px) {
                font-size: 18px;
                margin: 1vw 10px 0 0;
                padding-bottom: 5px;
            }

            &--active {
                border-color: variables.$gray;
            }
        }
    }

    &__divider {
        border: none;
        border-top: 2px solid rgba(variables.$gray, 0.2);
    }

    .tab {
        display: none;

        &--active{
            display: block;
        }

        .season {
            &__button {
                padding: 10px 10px 10px 0;
                font-size: 15px;
                font-weight: 300;
                letter-spacing: -.1px;
                line-height: 1.4;
                color: variables.$gray;
                background: none;
                border: none;
                cursor: pointer;

                &--active {
                    font-weight: 700;
                    color: variables.$white;
                }
            }
        }

        .episodes {
            display: none;
            margin: 0;
            padding: 0;

            @media (max-width: 1024px) {
                white-space: nowrap;
                overflow-x: scroll;
            }

            &--active {
                display: flex;
            }

            &__item {
                width: 288px;
                padding-right: 10px;

                @media (max-width: 1024px) {
                    width: 160px;
                }

                &__img {
                    max-width: 100%;
                    border-radius: 4px;
                }
                
                &__title {
                    padding-bottom: 6px;
                    font-weight: 700;
                    margin: 10px 0;
                }
    
                &__text {
                    max-width: 270px;
                    margin: 10px 0 0 0;
                    white-space: pre-wrap;
                }
            }
        }

        .sugestions {
            display: flex;
            padding-left: 0;
            @media (max-width: 1024px) {
                white-space: nowrap;
                overflow-x: scroll;
            }

            &__item {
                width: 288px;
                margin-right: 10px;
                
                img {
                    border-radius: 4px;
                    width: 280px;

                    @media (max-width: 1024px) {
                        width: 160px;
                    }
                }
            }
        }

        .details {
            @media (max-width: 768px) {
                display: block;
            }

            &__div {
                @media (max-width: 768px) {
                    display: block;
                }

                display: flex;
                &__text {
                    max-width: 50%;
                    letter-spacing: -.1px;
                    padding-top: 24px;

                    @media (max-width: 768px) {
                        max-width: 100%;
                    }
                    
                }
                &__infos {
                    display: flex;

                    @media (max-width: 768px) {
                        margin: 0;
                    }

                    &__list {
                        margin-left: 20px;
                        padding: 0;

                        @media (max-width: 768px) {
                            margin-right: 20px;
                            margin-left: 0;
                        }
                        &__item {
                            margin-bottom: 8px;
                            p {
                                margin: 0;
                            }
                            img {
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}